[submodule "deps/msgpack-objectivec"]
	path = deps/msgpack-objectivec
	url = https://github.com/msgpack/msgpack-objectivec.git
[submodule "deps/universal-bluetooth-macos"]
	path = deps/universal-bluetooth-macos
	url = https://github.com/laugga/universal-bluetooth-macos.git
